<div class="mt-4 ms-4" style="width: 500px">
    <h3>Cập Nhật Khóa Học</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" name="name" class="form-control" id="name" value="{{course.name}}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea name="description" class="form-control" id="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Link video</label>
            <input type="text" name="videoId" class="form-control" id="videoId" value="{{course.videoId}}">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" name="level" class="form-control" id="level" value="{{course.level}}">
        </div>

        <button type="submit" class="btn btn-primary">Lưu Lại</button>
    </form>
</div>